<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">C:/temp/logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFile"
                     fileName="${basePath}/Timer-${date:dd-MM-yyyy}.log"
                     filePattern="${basePath}/Timer-${date:dd-MM-yyyy}-%i.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <DefaultRolloverStrategy max="10000">
                <Delete basePath="${basePath}/Timer-${date:dd-MM-yyyy}.log" maxDepth="1">
                    <IfFileName glob="*.log" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
